$font-size-h1: 4.5rem; //72px
$font-size-title: 4rem; //64px
$font-size-h2: 2.5rem; // 40px
$font-size-icons: 3rem; // 48px
$font-size-h3: 2rem; // 32px
$font-size-h6: 1.5rem; // 24px
$font-size-paragraph: 1rem; //16px

$font-size-h1-mobile: 3.5rem; //56px
$font-size-title-mobile: 2.5rem; //40px
$font-size-h2-mobile: 2rem; // 36px
$font-size-icons-mobile: 2rem; // 36px
$font-size-h3-mobile: 1.5rem; // 24px
$font-size-h6-mobile: 1rem; // 16px
$font-size-paragraph-mobile: 0.75rem; //12px
