@import './colors';
@import './utils';
@import './margins';
@import './font-size';

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-group {
    margin-bottom: $margin-48;
    display: flex;
    flex-direction: column;
  }

  input {
    width: 30rem;
  }

  label {
    font-size: $font-size-h6;
    margin-bottom: $margin-16;
    font-weight: normal;
  }
  textarea {
    width: 30rem;
  }

  input[type='submit'] {
    height: 3rem;
    width: 30rem;
    background-color: $primary-color;
    color: $text-color-white;
    font-size: $font-size-h6;
    border-radius: 0.5rem;
    font-weight: 400;
    margin-bottom: $margin-32;
    cursor: pointer;

    &:disabled {
      background-color: $primary-color-disabled;
    }

    &:hover {
      background-color: $primary-color-light;
    }
  }
}
