@import '../styles/margins';
@import '../styles/font-size';

@media (max-width: 1572px) {
  .mx-auto-mobile {
    margin-left: auto;
    margin-right: auto;
  }
  .w-75 {
    width: auto !important;
  }

  .container {
    width: 100%;

    .row {
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;

      .col {
        align-items: center;
        align-content: center;
        text-align: center;
        width: 60%;
        margin-right: 0;
        margin-bottom: $margin-32;
      }
    }
  }

  .container-languages {
    justify-content: center;
  }

  .text-center-mobile {
    text-align: center !important;
  }

  .align-items-center-mobile {
    align-items: center !important;
  }

  form {
    align-items: center;
  }

  .container-title {
    margin-left: $margin-32;
  }

  .hidden-mobile {
    display: none !important;
  }

  .portrait-img {
    max-height: 40rem;
  }
}

@media (max-width: 1300px) {
  .container-projects {
    grid-template-columns: 1fr;
    align-items: center;

    a {
      text-align: center;
    }
  }

  .ellipse-projects-img {
    width: 4rem;
    height: 4rem;
  }

  .web-svg {
    width: 22.5rem;
    height: 14.25rem;
  }

  .mobile-svg {
    width: 22.5rem;
    height: 23rem;
  }

  .maintanance-svg {
    width: 22.5rem;
    height: 17.3125rem;
  }

  .deployment-svg {
    width: 25.8125rem;
    height: 18.75rem;
  }

  .btn {
    font-size: $font-size-h6-mobile !important;
    &.btn-round-orange {
      overflow: hidden;
      width: 12rem;
      height: 4rem;
    }

    &.btn-round-green {
      overflow: hidden;
      width: 12rem;
      height: 4rem;
    }
  }

  .w-skills {
    width: auto !important;
  }

  .skills-img {
    margin-right: 0;
    margin-top: 2rem;
  }

  .contact-svg {
    width: 18.75rem;
    height: 23.3125rem;
  }
}

@media (max-width: 1048px) {
  .w-75 {
    width: auto !important;
  }

  .mt-72 {
    margin-top: $margin-32 !important;
  }

  .mt-144 {
    margin-top: $margin-72 !important;
  }

  .margin-144-auto {
    margin: $margin-72 auto !important;
  }

  .container-title {
    width: 25rem;
    margin-top: 8rem;

    img {
      height: 12.5rem;
    }
  }

  .pos-relative-mobile {
    position: relative !important;
  }

  .container-projects {
    margin: 4.5rem auto 0 auto;
  }
  .portrait-img {
    margin-right: 0;
    max-height: 40rem;
  }

  .project-img {
    height: 18rem !important;
  }

  .about-svg {
    width: 18.75rem;
    height: 15.625rem;
  }

  h1 {
    font-size: $font-size-h1-mobile !important;

    &.extra-bold {
      font-size: $font-size-title-mobile !important;
    }
  }
  h2 {
    font-size: $font-size-h2-mobile !important;

    &.title {
      font-size: $font-size-title-mobile !important;
    }
  }
  h3 {
    font-size: $font-size-h3-mobile !important;
  }

  h6 {
    font-size: $font-size-h6-mobile !important;
  }

  p {
    font-size: $font-size-paragraph-mobile !important;

    &.thin {
      font-size: $font-size-h6-mobile !important;
    }
  }

  .contact-p {
    font-size: $font-size-h6-mobile !important;
  }

  .container-skills {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btn-circle {
    height: 3rem !important;
    width: 3rem !important;
    overflow: hidden;

    i {
      font-size: 1.5rem !important;
    }
  }

  .btn-round-right {
    i {
      margin: 0.5rem !important;
    }
  }

  .contact-p {
    margin-left: 1rem !important;
  }

  .ellipse-projects-img {
    margin-top: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .skills-img {
    margin-top: 5rem !important;
    height: 15rem !important;
  }

  .portrait-img {
    max-height: 27.5rem;
    margin-top: 4rem;
  }
}

@media (max-width: 764px) {
  .hidden-mobile-xs {
    display: none;
  }
  .mt-144 {
    margin-top: 2rem !important;
  }

  .portrait-img {
    max-height: 15rem;
    position: relative !important;
    margin: 0 auto;
  }

  .container-title {
    width: 100%;
    text-align: center;
    margin-left: 0;

    img {
      left: 35%;
    }
  }

  .contact-btn-container {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .external-contact {
    text-align: center;
    justify-content: center;
  }

  .visible-mobile {
    visibility: visible !important;
  }

  form {
    .form-group {
      width: 100% !important;
    }

    label {
      font-size: 1rem !important;
    }

    input {
      font-size: 1rem !important;
      width: 100% !important;
    }

    textarea {
      font-size: 1rem !important;
      width: 100% !important;
      padding: 0.25rem !important;
      height: 5rem;
    }
  }

  .external-contact {
    a {
      font-size: 2rem !important;
    }
  }
}

@media (max-width: 670px) {
  .project-img {
    height: 12rem !important;
  }

  .ellipse-group-projects-img {
    width: 8rem !important;
  }

  .btn-round-right {
    width: 100% !important;
    justify-content: center;
  }

  .container-skills {
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    button {
      margin-left: 2rem !important;
    }
  }

  .dots-services-right {
    width: 12rem !important;
    margin-left: -6rem !important;
  }

  .web-svg {
    width: 11.375rem;
    height: 7.125rem;
  }

  .mobile-svg {
    width: 11.375rem;
    height: 11.5rem;
  }

  .maintanance-svg {
    width: 11.375rem;
    height: 8.65625rem;
  }

  .deployment-svg {
    width: 12.90625rem;
    height: 9.375rem;
  }

  .mr-32 {
    margin-right: 1rem !important;
  }

  .margin-72-auto {
    margin: 2rem auto 0 auto !important;
  }

  .col {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 576px) {
  .ellipse-projects-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .ellipse-group-projects-img {
    width: 4.5rem !important;
  }

  .col {
    width: 100% !important;
    padding: 1rem !important;
  }

  .container-skills {
    grid-template-columns: 1fr;

    button {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .container-projects {
    margin: 2rem auto 0 auto !important;
    max-width: 60rem;

    .project-img {
      height: 10rem !important;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }

  .skills-img {
    height: 10rem !important;
    margin-top: 12rem !important;
  }

  .container-languages {
    padding: 1rem !important;
  }

  form {
    padding: 1rem;
  }
}
